body {
  position: relative;
  background: url("football-field.png") no-repeat fixed center;
  background-size: 480px 700px;
  background-position: top;
  margin: auto;
  max-width: 480px;
}
img {
  width: 35px;
  height: 35px;
}
.left-forward {
  margin-left: 152px;
  margin-top: 70px;
}
.right-forward {
  margin-left: 100px;
}
.margin-top {
  margin-top: 60px;
}
.middle {
  margin-left: 221.5px; 
}
.left-midfield {
  margin-left: 104px;
}
.right-midfield {
  margin-left: 190px;
}
.left-back {
  margin-left: 42px;
}
.right-back {
  margin-left: 310px;
}
.left-centerback {
  margin-left: 145px;
}
.right-centerback {
  margin-left: 100px;
}
.container {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px;
}
.bellow {
  top:110%;
}