body {
  background: url("football-field.png") no-repeat fixed center;
  background-size: 480px 700px;
  background-position: top;
  margin: auto;
  max-width: 480px;
}
img {
  width: 35px;
  height: 35px;
}
.left-forward {
  margin-left: 155px;
  margin-top: 70px;
}
.right-forward {
  margin-left: 100px;
}
.margin-top {
  margin-top: 20px;
}
.middle {
  margin-left: 224.5px; 
}
.left-midfield {
  margin-left: 110px;
}
.right-midfield {
  margin-left: 190px;
}
.left-back {
  margin-left: 50px;
}
.right-back {
  margin-left: 310px;
}
.left-centerback {
  margin-left: 155px;
}
.right-centerback {
  margin-left: 100px;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
}